{
  "recently_created": {
    "webhook_url": "webhook url here",
    "target_url": "http://scp-jp.wikidot.com/ajax-module-connector.php",
    "root_url": "http://scp-jp.wikidot.com/",
    "params": {
      "limit": "50",
      "order": "created_at desc"
    }
  },
  "criticism_in": {
    "webhook_url": "webhook url here",
    "target_url": "http://scp-jp-sandbox3.wikidot.com/ajax-module-connector.php",
    "root_url": "http://scp-jp-sandbox3.wikidot.com/",
    "age_url": "上げ通知用webhook url here",
    "params": {
      "limit": "50",
      "tags": "_criticism-in",
      "category": "draft",
      "order": "updated_at desc"
    }
  }
}